.category {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.page__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__title p {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-Noto-Sans-Georgian);
}

.new__category {
    border-radius: 5px;
    background-color: var(--green-btn);
    padding: 15px 30px;
}

.new__category a {
    color: white;
    text-decoration: none;
}

.category__table__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-border);
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
    background-color: var(--white);
}

.category__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 10px;
}

.search__category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__form {
    position: relative;
}

.search__input {
    padding: 10px 30px 10px 10px;
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Noto Sans Georgian', serif;
}

.search__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    margin-right: 10px;
}

.search__icon svg {
    color: var(--green-btn);
    font-size: 16px;
    cursor: pointer;
}

.table__container {
    width: 100%;
    overflow-x: auto;
}

.category__table {
    width: 100%;
    padding: 10px 0;
    border-collapse: collapse;
}

.table__head {
    background-color: var(--gray-bg);
}

.table__head th {
    color: var(--gray-text);
    padding: 10px 0;
    text-align: start;
    font-weight: normal;
}

.table__head th:first-child {
    padding: 10px;
    width: 50px;
    text-align: center;
}

.table__body tr td {
    border-bottom: 1px solid var(--gray-border);
}

.table__body td:first-child {
    padding: 10px;
    width: 50px;
    text-align: center;
}

.category__checkbox {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: var(--gray-bg);
    accent-color: green;
    outline: none;
    cursor: pointer;
}

.tbody__td {
    font-size: 14px;
    color: var(--gray-text);
}


.edit__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.edit__link p {
    font-size: 14px;
    color: var(--edit);
    margin: 0 5px;
    width: fit-content;
}

.pen__icon {
    color: var(--edit);
    margin: 0 5px;
}

.edit__link:hover .pen__icon, .edit__link:hover p {
    color: var(--edit-hover);
}

.delete__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.delete__link p {
    font-size: 14px;
    color: var(--delete);
    margin: 0 5px;
    width: fit-content;
}

.delete__icon {
    color: var(--delete);
    margin: 0 5px;
}

.delete__link:hover .delete__icon, .delete__link:hover p {
    color: var(--delete-hover);
}

.category__status {
    padding-left: 15px;
}

.category__status .approve {
    color: var(--green-light);
}

.category__status .dismiss {
    color: var(--delete);
}

.empty__container {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
    background-color: var(--white);
    background-image: url('../../../../assets/images/empty.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.clear__search__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--delete);
    color: var(--white);
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    font-family: var(--font-Noto-Sans-Georgian);
}
