/* Start Create Post */
.create__post__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.title__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.create__title {
    font-size: 24px;
    font-weight: bold;
}

.form__container {
    width: 100%;
    display: flex;
}

.create__form{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lang__tabs{
    display: flex;
    flex-direction: row;
}
.lang__tab{
    padding: 5px 10px;
    border: 1px solid var(--green-dark);
    color: var(--green-dark);
    margin-left: 10px;
    background-color:white;
}
.active__lang{
    padding: 5px 10px;
    background-color: var(--green-dark) !important;
    color: white !important;
    margin-left: 10px;
}

.translatable{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid var(--gray-border);
    padding: 20px;
    margin: 20px 20px 20px 0;
    background-color: var(--white);
}

.non__translatable{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid var(--gray-border);
    padding: 20px;
    margin: 20px 0 20px 20px;
    background-color: var(--white);
    height: fit-content;
}

.form__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.column{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.input__group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding-right: 25px;
}

.full {
    width: 100%;
}

.input__group:last-child{
    padding-right: 0;
}

.label {
    display: flex;
    flex-direction: row;
}

.label p {
    font-size: 16px;
    font-family: var(--font-Noto-Sans-Georgian);
    color: var(--gray-text);
    padding: 10px 5px 10px 0;
    display: flex;
    flex-direction: row;
}

.label svg {
    font-size: 5px;
    font-family: var(--font-Noto-Sans-Georgian);
    color: red;
}

.input__group input {
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    padding: 10px;
    font-family: var(--font-Noto-Sans-Georgian);
    border-radius: 8px;
    width: 100%;
}

.input__group select {
    width: 100% !important;
}

.input__group .select2{
    width: 100% !important;
}

.input__group .select2 .selection .select2-selection{
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    padding: 5px;
    font-family: var(--font-Noto-Sans-Georgian);
    width: 100%;
    display: flex;
    min-height: 46px;
    align-items: center;
}

.select2-container--default .select2-search--inline .select2-search__field{
    padding-left: 10px;
    margin: 0;
    height: 25px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear{
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    margin-right: 15px;
    margin-top: 0;
    position: absolute;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear span{
    font-size: 20px;
    color: var(--delete);
}

.select2-dropdown {
    border: 1px solid var(--gray-border);
}

.select2-results__option{
    font-size: 16px;
    font-family: var(--font-Noto-Sans-Georgian);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: #dedede;
    color: black;
    padding: 5px 30px 5px 5px;
    margin: 5px;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    font-size: 14px;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: #b1b1b1;
    border: none;
    border-left: 1px solid #c9c9c9;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    padding: 5px;
    position: absolute;
    right: 0;
    left:auto;
    top: 0;
    height: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus{
    background-color: var(--delete);
    color: white;
    outline: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: var(--green-dark);
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--green-dark);
    color: white;
}

.select2-results__options::-webkit-scrollbar {
    width: 15px;
    background-clip: padding-box;
}
.select2-results__options::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    background-clip: padding-box;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--green-dark);
}

.select2-results__options::-webkit-scrollbar-button {
    display: none;
}

.input__group textarea {
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    padding: 10px;
    font-family: var(--font-Noto-Sans-Georgian);
    border-radius: 8px;
    width: 100%;
}

.tag-input{
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font-Noto-Sans-Georgian);
}

.tagify{
    border-radius: 5px;
    width: 100%;
    font-family: var(--font-Noto-Sans-Georgian);
    color: var(--gray-text);
}

.tagify--empty .tagify__input::before{
    font-family: var(--font-Noto-Sans-Georgian);
    color: var(--gray-text);
}

.tagify--focus {
    border: 1px solid var(--gray-border);
}

.tagify__tag>div{
    padding: 4px;
}

.create__content {
    width: 100%;
    padding: 20px 20px 0 0;
    margin: 10px 0;
}

.create__author {
    height: 100%;
    width: 100%;
}

.create__author .input {
    margin: 0 !important;
    border:none;
}

.create__category {
    height: 100%;
    width: 100%;
}

.create__category .input {
    margin: 0 !important;
    border:none;
}


.switch__container {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 30px;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-main);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--green-btn);
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Image Upload */
.image__container {
    margin: 20px 25px 20px 0;
    border-radius: 15px;
    background-color: var(--white);
    border: 1px solid var(--gray-main);
}

.upload__image__container {
    padding: 20px;
    max-height: fit-content;
    transition: max-height 0.5s ease-in-out;
    border: 1px solid var(--gray-border);
}

.upload__img {
    display: none;
}

.image__area {
    border: 2px dashed var(--gray);
    padding: 1rem;
    margin-top: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__area:hover{
    border: 2px dashed var(--green-btn);
    cursor: pointer;
}
.image__area:hover .image__area__info{
    color: var(--green-btn);
}

.upload__img__info{
    color: var(--gray);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.image__area img {
    height: 100%;
    z-index: 2;
    position: relative;
}

/* Btn */
.create__submit__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.create__post__btn{
    padding: 5px 20px;
    background-color: var(--green-btn);
    color: var(--white);
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    font-family: var(--font-Noto-Sans-Georgian);
}

.cancel__post__btn{
    padding: 5px 20px;
    background-color: var(--bs-red);
    color: var(--white);
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    font-family: var(--font-Noto-Sans-Georgian);
}

/* TinyMce */
.tox-promotion, .tox-statusbar__branding{
    display: none;
}

/* Meta Box */
.meta__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--gray-border);
    padding: 10px 20px;
    min-height: 420px;
}

.meta__navigation{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    height: 100%;
}

.meta__navigation ul{
    display: flex;
    flex-direction: column;
}

.meta__navigation ul li{
    display: flex;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--green-dark);
    border: 1px dashed var(--green-dark);
    font-family: var(--font-Noto-Sans-Georgian);
    margin: 10px;
}

.meta__navigation ul li:hover{
    background-color: var(--green-dark);
    color: var(--white);
    cursor: pointer;
}

.meta__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 10px;
    height: 100%;
}

.active__tab{
    background-color: var(--green-dark) !important;
    color: var(--white) !important;
    cursor: pointer !important;
}

.show__tab {
    display: flex !important;
    animation: fade__in 1s;
}

.hide__tab {
    display: none !important;
    animation: fade__out 1s;
}

@keyframes fade__in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade__out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Meta Box */

@media only screen and (max-width: 776px) {

    .create__form{
        display: flex;
        flex-direction: column;
    }

    .translatable{
        width: 100%;
    }

    .non__translatable{
        width: 100%;
        margin: 0;
    }

    .row{
        flex-direction: column;
    }

    .input__group{
        width: 100%;
        padding: 0;
    }

    .meta__container{
        flex-direction: column;
    }

    .meta__navigation{
        width: 100%;
    }

    .meta__section{
        width: 100%;
    }


}

/* End Create Post */

