@media only screen and (max-width: 776px) {

    /*  Start Admin Login */
    .login__left__container {
        display: none;
    }

    .login__container {
        width: 90%;
        border-radius: 50px;
    }

    /*  End Admin Login */

    /* Start Admin Side Bar */
    .sidebar__navigation__container {
        width: 0;
        z-index: 1;
        box-shadow: none;
    }

    .shrink__btn {
        padding: 30px;
        background-color: var(--white);
    }

    .shrink .shrink__btn {
        background-color: inherit;
    }

    .shrink .sidebar__navigation__container {
        width: 100%;
    }

    .sidebar__menu__link {
        padding: 10px;
    }

    .sidebar__submenu__link {
        padding: 10px;
    }

    .sidebar__menu__item__parent__arrow {
        top: 12px;
    }

    /* End Admin Side Bar */

    /* Start Shrink Mobile Reverse */
    .sidebar__menu__title {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0.2s;
    }

    .sidebar__logo__title,
    .sidebar__logout__title,
    .sidebar__menu__item__parent__arrow {
        opacity: 0;
        display: none;
        pointer-events: none;
        transition-delay: 0.2s;
    }

    .sidebar__submenu__title {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0.2s;
    }

    .shrink .sidebar__menu__title {
        opacity: 1;
        transition-delay: 0.2s;
    }

    .shrink .sidebar__logo__title,
    .shrink .sidebar__logout__title,
    .shrink .sidebar__menu__item__parent__arrow {
        opacity: 1;
        display: flex;
        transition-delay: 0.2s;
    }

    .shrink .sidebar__submenu__title {
        opacity: 1;
        transition-delay: 0.2s;
    }

    /* End Shrink Mobile Reverse */

    /* Start Admin Header */
    .header {
        width: calc(100% - 70px);
    }

    /* End Admin Header */

    /* Start Admin Main content */
    .main__content__extend {
        margin: 65px 0 0 70px;
    }

    .main__content {
        margin: 65px 0 0 0;
    }
    /* End Admin Main content */


    /* Start Create News Page  */
    .create__form{
        flex-direction: column;
    }
    /* End Create News Page  */

}
